<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input" class="form-label">Keywords</label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Type keywords...">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>